@charset "UTF-8";

/**
 * Import MPI Mixins
 */
@import "~css/scss/mpi-mixins";

/**
 * -----------
 * Module Styles
 * -----------
 */

.food{
  position: absolute;
  z-index:3;
  border:red 1px solid;
  background: #fc8c84;
  overflow: hidden;
  box-sizing:border-box;
}
