@charset "UTF-8";

/**
 * Import MPI Mixins
 */
@import "~css/scss/mpi-mixins";

/**
 * -----------
 * Module Styles
 * -----------
 */
body,html{
  overflow-y:hidden;
}
.gamescence{
  border:1px solid #ccc;
  overflow: hidden;
}
