@charset "UTF-8";

@import "../scss/variables";
@import "../scss/mpi-mixins";

%select-bar {
  .bar-items {
    @include m-r1bb-bg(#D5D5D5,#fff);
    position: relative;
    height:rem(80);
    font-size:rem(24);
    color:$m-dark-txt-color;
    display: -webkit-box;
    -webkit-box-align:center;
    padding:0 rem(24);
    li{
      @include m-border-radius(3px);
      @include m-r1b(#E0E0E0,3px);
      color:#333;
      margin-right:rem(24);
      width:rem(120);
      height:rem(48);
      line-height:rem(48);
      text-align:center;
      &.select{
        background-color:#009FF0;
        color:#fff;
        &:after{
          border:none;
        }
      }
    }
  }
}